@media (max-width: 650px) {
    .container{
        margin: 0 auto;
        background-color: black;
        color: white;
        width: 100%;
        height: 95vh;
    }
}


@media (min-width: 650px){
    
    .container{
        background-color: black;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

.inputs{
    display: flex;
    padding: 5px;
}


.title{
    color: rgb(205, 131, 246);
    display: flex; 
    justify-content: center; 
    align-items: center;
}


.btn{
    background-color: grey;
    margin-top: 2px;
    margin-bottom: 10px;
    border: solid 2px var(--color-principal);
    color: white;
}

.btn:hover{
    background-color: rgb(205, 131, 246);
    margin-top: 2px;
    margin-bottom: 10px;
    border: solid 2px black;
    color: black;
}

mat-icon{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5px;
    cursor: pointer;
}

hr{
    color: white;
    width: 40rem;
    margin-right: 1rem;
    border: solid 1px white;
    opacity: initial;
}

#checkDadosPessoais,#checkGrupoCampo,#checkCongregacao,#checkNomeCpf{
    display:none;
}

.sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-container-um, .sub-container-dois{
    height: 100%;
    width: 50%;
}

.foto-perfil{
    display: flex;
    height: 30%;
    align-items: flex-start;
    justify-content: space-around;
}

.mat-foto-perfil{
    width: 100vw;
    height: 18vh;
    font-size: 93px;
    display: block;
    padding: 25px;
}

.sub-div-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-perfil{
    color: rgb(205, 131, 246);
    display: flex; 
    justify-content: left; 
    align-items: center;   
    margin-left: 1rem;
}