
<div class="container">
    <div class="mensagem-sucesso" *ngIf="mensagemSucesso">Serviço de campo adicionado com sucesso</div>
    <div class="mensagem-erro" *ngIf="mensagemErro">Erro ao adicionar serviço de campo</div>
    <div [style]="isPioneiro?'text-align: center;':'display:none'" class="col-md-12 title" style="text-align: center;">
        <h2 style="font-weight: 700; margin-top: 10px;">Cronômetro de Relatório</h2>
        <hr>
    </div>
    <div class="cronometro" [style]="isPioneiro?'text-align: center;':'display:none'">
        <h1 style="color: white;">{{ tempoFinal }}</h1>
        <div class="col-md-12">
            <button class="btn btn mr-2" (click)="iniciar()" [disabled]="rodando">Iniciar</button>
            <button class="btn btn mr-2" (click)="pausar()" [disabled]="!rodando">Pausar</button>
            <button class="btn btn mr-2" (click)="resetar()">Resetar</button>
            <button class="btn btn" data-toggle="modal" data-target="#modalAdicionarManualmete">Adicionar Manualmente</button>
        </div>
    </div>
    <hr>
    <label for="publicacao" class="mr-2" style="display: flex; justify-content: center; align-items: center;">Ferramenta kit de Ensino:</label>
    <div class="col-md-12 inputs">
        <select #publicacao name="listPublicacoesDeixadas" multiple="multiple" class="form-control col-md-10" [formControl]="publicacaoControl">
            <option *ngFor="let pub of publicacoes" [ngValue]="pub.nome">{{ pub.nome }}</option>
        </select>
    </div>
    <hr>
    <div class="col-md-12 sub-title">
        <h6 style="font-weight: 100; margin-top: 2px;">Descrição</h6>
    </div>
    <div class="col-md-12" style="display: flex; justify-content: flex-start; align-items: flex-start; height: 25%;">
        <textarea style="height: 100%;" name="descricao" id="descricao" class="form-control col-md-12" [(ngModel)]="servicoCampo.descricao"></textarea>
    </div>
    <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
        <button class="col-md-6 btn btn-primary" type="button" (click)="salvar()">Adicionar Relatório</button>
    </div>
</div>




 <div class="modal" tabindex="-1" role="dialog" id="modalAdicionarManualmete">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label for="horas">Horas:</label>
                    <input type="number" class="form-control inputs" [(ngModel)]="hora">
                </div>
                <hr>
                <div class="col-md-12">
                    <label for="minutos">Minutos</label>
                    <input type="number" class="form-control inputs" [(ngModel)]="minuto">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editarTempo(hora+':'+minuto)">Salvar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
    </div>