@media (max-width: 650px) {
    .container{
        margin: 0 auto;
        background-color: black;
        color: white;
        width: 100%;
        height: 107vh;
    }
}


@media (min-width: 650px){
    
    .container{
        margin: 0 auto;
        background-color: black;
        color: white;
        width: 40%;
        height: 133vh;
    }
}

.cronometro {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn{
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px var(--color-principal);
    color: white;
}

.btn:hover{
    background-color: rgb(205, 131, 246);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px black;
    color: black;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: var(--color-principal);
    color: white;
}

::ng-deep .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: var(--color-principal);
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
