@media (max-width: 650px) {
    .container{
        margin: 0 auto;
        background-color: black;
        color: white;
        width: 100%;
        height: 95vh;
    }

    mat-paginator{
        width: 320vw;
    }

    #editar-excluir{
        width: 107%;
        padding: 3px;
        background-color: grey;
        margin-bottom: 2px;
        border: solid 2px var(--color-principal);
        color: white;
    }

    #editar-excluir:hover{
        background-color: black;
        border: solid 2px var(--color-principal);
    }

    mat-icon{
        font-size: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
}


@media (min-width: 650px){
    
    .container{
        margin: 0 auto;
        background-color: black;
        color: white;
        width: 100%;
        height: 100vh;
    }

    mat-icon{
        font-size: 17px; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    #editar-excluir{
        width: 84%;
        padding: 0px;
        background-color: grey;
        margin-bottom: 2px;
        border: solid 2px var(--color-principal);
        color: white;
    }
    
    #editar-excluir:hover{
        background-color: black;
        border: solid 2px var(--color-principal);
    }
}


.inputs{
    display: flex;
    padding: 5px;
}


.title{
    color: rgb(205, 131, 246);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.sub-title{
    color: white;
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

#descricao{
   border: none;
    border-radius: 7px;
    width: 100%;
}

.btn{
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px var(--color-principal);
    color: white;
}

.btn:hover{
    background-color: rgb(205, 131, 246);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px black;
    color: black;
}
