<div class="pos-f-t">
    <nav class="navbar navbar bg menu">
        <div style="display: flex; align-items: center; justify-content: center;">
            <img src="assets/imagens/logo_sistema.png">
            <div>
                <a class="btn btn-secondary dropdown-toggle no-caret menu-item" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Campo
                </a>
                <ul class="dropdown-menu ml-2">
                    <li><a class="dropdown-item" href="revisita-cadastro">Cadastrar Revisita</a></li>
                    <li><a class="dropdown-item" href="revisita-listar">Lista de Revisitas</a></li>
                </ul>
            </div>
            <div>
                <a class="btn btn-secondary dropdown-toggle no-caret menu-item" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cadastro
                </a>
                <ul class="dropdown-menu ml-5">
                    <li><a class="dropdown-item" href="publicador-cadastro">Cadastrar Publicador</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h4>JW Relatorios e Revisitas</h4>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>