.menu-item{
    background-color: var(--color-principal);
    border: none;
    margin-left: 5px;
}

.menu-item:hover{
    background-color: rgb(165, 161, 166);
}

.no-caret::after {
  display: none !important;
}

@media (max-width: 650px) {
    img {
        width: 30px; 
        height: 30px;
    }

    h4{
        color: white; 
        width: 171px;
        height: 20px;
        font-size: smaller;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 11px;
    }

    .menu-item{
        width: 71px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu{
        background-color: var(--color-principal);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 128vw;
        height: 7vh;
    }
}


@media (min-width: 650px){
    img {
        width: 50px; 
        height: 50px;
    }

    h4{
        color: white; 
        font-weight: 100; 
        margin-right: 10px;
    }

    .menu{
        background-color: var(--color-principal);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

mat-icon{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 18px;
}

.notification{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 8px;
}

.container{
   display: block;
}

.graficos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela_revisitas{
    color:white
}

.sub-container-um{
    width: 40%;
}

.sub-container-dois{
    width: 60%;
}

.mat-mdc-cell{
    background: var(--color-principal);
    color:white
}

.mat-mdc-table .mat-mdc-header-cell, .mat-paginator .mat-mdc-paginator-container{
    background: grey;
    color: white;
}

.mat-mdc-paginator-touch-target{
    color:white
}

.tabela_estudos_informacoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabela_estudos_informacoes .mat-mdc-cell{
    background: grey;
    color:white
}

.tabela_estudos_informacoes .mat-mdc-table .mat-mdc-header-cell, .mat-paginator .mat-mdc-paginator-container{
    background: var(--color-principal);
    color: white;
}

.tabela_estudos_informacoes .mat-mdc-paginator-touch-target{
    color:white
}

.title{
    color: white;
}

.table-estudos, .table-designacoes{
    width: 50%;
    padding: 26px;
}

.grafico-publicacoes-deixadas{
    width: 100%;
}

