@media (max-width: 914px) {
    .container{
        margin-top: 3rem;
        background-color: black;
        color: white;
        width: 40%;
        height: 95vh;
        margin-right: 57rem;
    }

    .mobile{
        width: 130vw;
        height: 131vh;
        background-color: black;
    }

    .inputs{
        width: 94vw;
    }

    .btn{
        background-color: grey;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 2px var(--color-principal);
        color: white;
        display: flex; 
        justify-content: center; 
        align-items: center;
        width: 88vw;
    }
    
    .title{
        color: rgb(205, 131, 246);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 89vw;
    }

    .title-h2{
        margin-left: 0.5rem;
    }

    .label-senha{
        width: 11vw;
    }
}


@media (min-width: 914px){
    
    .container{
        margin-top: 3rem;
        background-color: black;
        color: white;
        width: 40%;
        height: 89vh;
    }
    .btn{
        background-color: grey;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5rem;
        border: solid 2px var(--color-principal);
        color: white;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .title{
        color: rgb(205, 131, 246);
        display: flex; 
        justify-content: center; 
        align-items: center;
        padding: 1rem;
    }

     .title-h2{
        margin-left: 0.5rem;
    }

     .label-senha{
        width: 3vw;
    }
}

.inputs{
    display: flex;
    padding: 5px;
}

.btn:hover{
    background-color: rgb(205, 131, 246);
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px black;
    color: black;
}
