[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
CN = 3.91.56.54

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 3.91.56.54
