<div class="container">
    <div class="col-md-12 title">
        <h2 style="font-weight: 700; margin-top: 10px;">Cadastro de Revisita</h2>
    </div>
    <hr>
    <div class="col-md-12 sub-title">
        <h6 style="font-weight: 100; margin-top: 2px;">Dados Pessoais</h6>
    </div>
    <hr>
    <div class="col-md-12 inputs">
        <label for="nome" class="mr-2">Nome:</label>
        <input class="col-md-4 form-control mr-2" type="text" name="nome" id="nome" [(ngModel)]="revisita.nome">
        <label for="telefone" class="mr-2">Telefone:</label>
        <input class="col-md-4 form-control" type="text" name="telefone" id="telefone" [(ngModel)]="revisita.telefone">
    </div>
    <hr>
    <div class="col-md-12 sub-title">
        <h6 style="font-weight: 100; margin-top: 2px;">Endereço</h6>
    </div>
    <hr>
    <div class="col-md-12 inputs">
        <label for="rua">Rua:</label>
        <input type="text" class="col-md-4 mr-4 ml-1 form-control" name="rua" id="rua" [(ngModel)]="revisita.rua">
        <label for="nome">Bairro:</label>
        <input type="text" class="col-md-4 form-control" style="margin-left: 2.1rem !important;" name="bairro" id="bairro" [(ngModel)]="revisita.bairro">
    </div>
    <div class="col-md-12 inputs">
        <label for="cep">CEP:</label>
        <input type="number" class="form-control col-md-4 mr-4 ml-1" name="cep" id="cep" [(ngModel)]="revisita.cep">
        <label for="numero">Numero:</label>
        <input class="form-control col-md-4 mr-2 ml-3" type="number" name="numero" id="numero" [(ngModel)]="revisita.numero">
    </div>
    <div class="col-md-12 inputs">
        <label for="cep">Estado:</label>
        <input type="number" class="form-control col-md-4 mr-4 ml-1" name="cep" id="cep" [(ngModel)]="revisita.estado">
        <label for="numero">Cidade:</label>
        <input class="form-control col-md-4 mr-2 ml-3" type="number" name="numero" id="numero" [(ngModel)]="revisita.cidade">
    </div>
    <hr>

    <div class="col-md-12 sub-title">
        <h6 style="font-weight: 100; margin-top: 2px;">Descrição</h6>
    </div>
    <hr>
    <div class="col-md-12 inputs" style="display: flex; justify-content: flex-start; align-items: flex-start; height: 25%;">
       <textarea name="descricao" id="descricao" [(ngModel)]="revisita.descricao"></textarea>
    </div>
    <div class="col-md-12" style="display: flex; justify-content: center; align-items: center;">
        <button class="col-md-4 btn" type="submit" (click)="salvar()">Salvar</button>
    </div>
</div>
<router-outlet></router-outlet>

